


<div class="container">
  <h1>Clientes</h1>
    <div class="col-sm-6">
        <form method="POST">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit">Slavar</button>
        </form>
    </div>
    <a href="{% url 'index' %}">Home</a><br>
    {% if product %}
        <a href="{% url 'delete_cliente' cliente.id %}">Delete</a>
    {% endif %}
</div>





<!--                        <div id="Home" class="tab-pane in active notika-tab-menu-bg animated flipInX">
                            <ul class="notika-main-menu-dropdown">
                                <li><a href="index.html">Dashboard One</a>
                                </li>
                                <li><a href="index-2.html">Dashboard Two</a>
                                </li>
                                <li><a href="index-3.html">Dashboard Three</a>
                                </li>
                                <li><a href="index-4.html">Dashboard Four</a>
                                </li>
                                <li><a href="analytics.html">Analytics</a>
                                </li>
                                <li><a href="widgets.html">Widgets</a>
                                </li>
                            </ul>
                        </div>-->



