
{% load static %}


<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- Bootstrap CSS
  ============================================ -->
  <link rel="stylesheet" href="{% static '../static/ADD/css/bootstrap.min.css' %}">
  <title>Fornecedor</title>
</head>
<body>
  <div class="container">
      <h1>Fornecedor</h1>
        <div class="col-sm-6">
            <form method="POST">
              {% csrf_token %}
              {{ form }}
              <button class="btn btn-primary" type="submit">Salvar</button>
            </form>
        </div>
        <a href="{% url 'index' %}">Home</a><br>
        {% if product %}
            <a href="#">Delete</a>
        {% endif %}
    </div>
</body>
</html>