<div class="table-responsive">
    <table id="data-table-basic" class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>email</th>
                <th>CNPJ</th>
                <th>Cidade</th>
                <th>Bairro</th>
                <th>Rua</th>
                <th>Numero</th>
                <th>CEP</th>
            </tr>
        </thead>
        <tbody>
                {% for Fornecedor in fornecedor %}
                <tr>
                    <td>{{ fornecedor.id }}</td>
                    <td>{{ fornecedor.name }}</td>
                    <td>{{ fornecedor.email }}</td>
                    <td>{{ fornecedor.cnpj }}</td>
                    <td>{{ fornecedor.cidade }}</td>
                    <td>{{ fornecedor.bairro }}</td>
                    <td>{{ fornecedor.rua }}</td>
                    <td>{{ fornecedor.numero }}</td>
                    <td>{{ fornecedor.cep }}</td>
                </tr>
                {% endfor %}
        </tbody>
    </table>